body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Helvetica;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 0;
	color: #62625F;
	opacity: 0.8;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

#footer {
	position: absolute;
	bottom: 0;
	color: #62625F;
	opacity: 0.4;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: left;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

#footer-right {
	position: absolute;
	bottom: 0;
	color: #62625F;
	opacity: 0.4;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: right;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

#bookinglink {
	position: absolute;
	bottom: 7%;
	right: 0;
	text-decoration: underline;
	color: #62625F;
	opacity: 1;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

#subheadline {
	position: absolute;
	bottom: 20%;
	right: 0;
	color: #62625F;
	opacity: 1;
	font-size: 15px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

.button {
	position: absolute;
	width: 150px;
	bottom: 10%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}

@media only screen and (max-width: 600px) {
	.button {
		width: 100px;
		padding: 10px 15px;
	}
	#footer-right {
		bottom: 20px;
		text-align: left;
	}
}

a {
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	text-align: center;
	margin: 20px auto;
	max-width: 180px;
	text-decoration: none;
	border-radius: 4px;
	padding: 20px 30px;
	cursor: pointer;
}

a.button {
	color: #62625F;
	font-size: 20px;
	box-shadow: rgba(98,98,95, 0.6) 0 0 0 2px inset;
}


a.button:hover {
	color: white;
	text-decoration: none;
	box-shadow: #62625F 0 0px 0px 40px inset;
}

#insta_link {
	cursor: 'counter';
	margin-top: -25px;
	opacity: 0.7;
	margin-right: -5px;
	position: absolute;
	top: 0;
	right: 0;
}

#insta_image {
	width: 25px;
	height: 25px;
}

#impressum {
	position: absolute;
	bottom: 0;
	right: 0;
	color: white;
	opacity: 0.4;
	cursor: pointer;
	margin:0;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: right;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.lil-gui {
	z-index: 2 !important; /* TODO Solve this in HTML */
}

@media all and ( max-width: 640px ) {
	.lil-gui.root {
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}

	#subheadline {
		bottom: 24%;
	}

	.button {
		cursor: pointer;
		width: 300px;
		text-transform: uppercase;
	}

}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
}

	#overlay button {
		background: transparent;
		border: 0;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 4px;
		color: #ffffff;
		padding: 12px 18px;
		text-transform: uppercase;
		cursor: pointer;
	}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}
